
.logo {
    width: 50px;
    /* Defina a largura desejada para a sua logo */
    height: auto;
    /* Mantenha a proporção da altura para evitar distorção */
  }
  

  
h3{
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.table{
    margin-top: 300px;
    height:130px;
    width:60%;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(182, 36, 219);
    text-align: center;
}

.faturamento-container table thead th {
    background-color: rgb(219, 168, 231) ;
}


.botaoInicial{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 68%;
    background-color: rgb(182, 36, 219);
    color:white;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
  
    .banner-content h1,
    .div-com-imagem h1,
    .feature-text p {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .banner-content p {
      font-size: 14px;
    }
  }


  
  