body {
  font-family: Arial, sans-serif;
}

/*HEADER - BANNER*/

.banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/img/Banner.jpg') no-repeat center center/cover;
  height: 80vh;
  /* Ajusta a altura do banner responsivamente usando 60% da altura da tela */
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  padding: 2rem;
  max-width: 960px;
}

.banner-content h1 {
  font-size: 5rem;
  margin: 0;
  padding: 10px;
  font-family: cursive;
}

.banner-content p {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 10px;
}

/*LOGO*/

.logo {
  width: 50px;
  /* Defina a largura desejada para a sua logo */
  height: auto;
  /* Mantenha a proporção da altura para evitar distorção */
}

@media screen and (max-width: 768px) {

  .div-com-imagem h1,
  .feature-text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {

  .banner-content h1{
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .feature-col {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .banner-content p {
    font-size: 14px;
  }
}

/*FRASE*/

.div-com-imagem {
  /*background-image: url('./assets/img/frase2.png');*/
  background-color: #81007F;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 768px) {
  .div-com-imagem {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .div-com-imagem {
    height: 150px;
  }
}

/*FEATURE - 3 QUADROS*/

.feature-col {
  margin-top: 20px;
  padding: 50px;
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-col:hover {
  transform: scale(1.05);
}

.feature-image {
  transition: filter 0.3s ease;
}

.feature-image:hover {
  filter: brightness(1.2);
}

.feature-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease;
}

.feature-text:hover {
  color: #81007F;
  cursor: default;
}

.bg-blueviolet {
  background-color: #81007F;
}

.text-white {
  color: white;
}

.custom-font {
  font-family: cursive;
  color: #81007F;
  font-size: 60px;
}

.mb-3 {
  font-size: 46px;
  margin: 70px;
}

/*MODAL*/

.cadastro-container header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-container header button{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    transition: border-color 0.5s;
    background: #81007F;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
}

.cadastro-container header button:hover{
  opacity: 0.8;  
}

/*TABELA*/

.cadastro-container h3 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-family: cursive;
  color: #81007F;
  font-size: 60px;
  text-align: center;
}

.cadastro-container table {
    max-width: 1000px;
    padding: 30px 0;
    margin: 32px auto;
    border-width: 2px; 
    border-style: solid;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
}

.cadastro-container table thead th {
    padding: 12px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #d8bfd8;
    border-bottom: 1px solid #DCDCE6;
}

.cadastro-container table tbody td {
    padding: 12px 20px;
    border-bottom: 1px solid #DCDCE6;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 768px) {

  .cadastro-container table tbody td {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {

  .cadastro-container table thead th{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {

  .cadastro-container table tbody td {
    font-size: 12px;
  }
}

@media (max-width: 468px) {
  .table-responsive{
    overflow-x: scroll;

    width: 350px;
  }
}

