body {
  font-family: Arial, sans-serif;
}

/*HEADER - BANNER*/

.banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/img/Banner.jpg') no-repeat center center/cover;
  height: 80vh;
  /* Ajusta a altura do banner responsivamente usando 60% da altura da tela */
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  padding: 2rem;
  max-width: 960px;
}

.banner-content h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 10px;
}

.banner-content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 10px;
}

/*LOGO*/

.logo {
  width: 50px;
  /* Defina a largura desejada para a sua logo */
  height: auto;
  /* Mantenha a proporção da altura para evitar distorção */
}

@media screen and (max-width: 768px) {

  .banner-content h1,
  .div-com-imagem h1,
  .feature-text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .banner-content p {
    font-size: 14px;
  }
}

/*FRASE*/

.div-com-imagem {
  background-image: url('./assets/img/frase2.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 768px) {
  .div-com-imagem {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .div-com-imagem {
    height: 150px;
  }
}

/*FEATURE - 3 QUADROS*/

.feature-col {
  margin-top: 20px;
  padding: 50px;
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-col:hover {
  transform: scale(1.05);
}

.feature-image {
  transition: filter 0.3s ease;
}

.feature-image:hover {
  filter: brightness(1.2);
}

.feature-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease;
}

.feature-text:hover {
  color: blueviolet;
}

/*TESTE*/

.agendamento-container header{
    display: flex;
    align-items: center;
}


.agendamento-container header button{
    height: 40px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    transition: border-color 0.5s;
}


.agendamento-container h1 {
    margin-top: 20px;
    margin-bottom: 24px;
}

.agendamento-container ul {
    display: grid;
    padding: 0 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    list-style: none;
}

.agendamento-container ul li{
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.agendamento-container ul li button {
    position: absolute;
    right: 25px;
    top: 25px;
    border: 0;
    background: transparent;  
}

.agendamento-container ul li button + button{
    top: 50px;  
}

.agendamento-container ul li button:hover{
    opacity: 0.8;  
}

.agendamento-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414D;
}

.agendamento-container ul li p + strong{
    margin-top: 32px;
}

.agendamento-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}